In [ ]:
import numpy as np
import pandas as pd
import datetime as dt
from sklearn import metrics
from sklearn.model_selection import train_test_split
import warnings; warnings.simplefilter('ignore')

In [ ]:
data=pd.read_csv("train.csv")
test=pd.read_csv("test.csv")

In [ ]:
data.isnull().sum()

ID                        0
vendor+AF8-id             0
pickup+AF8-loc            1
drop+AF8-loc              1
driver+AF8-tip            2
mta+AF8-tax               1
distance                  1
pickup+AF8-time           1
drop+AF8-time             1
num+AF8-passengers        1
toll+AF8-amount           2
payment+AF8-method        1
rate+AF8-code             1
stored+AF8-flag           1
extra+AF8-charges         1
improvement+AF8-charge    2
total+AF8-amount          2
dtype: int64

In [ ]:
data.columns

Index(['ID', 'vendor+AF8-id', 'pickup+AF8-loc', 'drop+AF8-loc',
       'driver+AF8-tip', 'mta+AF8-tax', 'distance', 'pickup+AF8-time',
       'drop+AF8-time', 'num+AF8-passengers', 'toll+AF8-amount',
       'payment+AF8-method', 'rate+AF8-code', 'stored+AF8-flag',
       'extra+AF8-charges', 'improvement+AF8-charge', 'total+AF8-amount'],
      dtype='object')

In [ ]:
data.rename(columns = {'vendor+AF8-id': "vendor_id",
                        'pickup+AF8-loc': "pickup_loc",
                        'drop+AF8-loc' : "drop_loc",
                        'driver+AF8-tip': "driver_tip", 
                        'mta+AF8-tax' : "mta_tax",
                        'pickup+AF8-time' : "pickup_time",
                        'drop+AF8-time' : "drop_time", 
                        'num+AF8-passengers' : "num_passengers",
                        'toll+AF8-amount' : "toll_amount",
                        'payment+AF8-method' : "payment_method",
                        'rate+AF8-code' : "rate_code",
                        'stored+AF8-flag' : "stored_flag",
                        'extra+AF8-charges' : "extra_charges",
                        'improvement+AF8-charge' : "improvement_charge",
                        'total+AF8-amount': "total_amount"
                        }, inplace = True)

In [ ]:
data.shape

(1048575, 17)

In [ ]:
data['pickup_time']=pd.to_datetime(data['pickup_time'])

In [ ]:
data['drop_time']=pd.to_datetime(data['drop_time'])

In [ ]:
data['trip_duration']=data['drop_time']-data['pickup_time']

In [ ]:
data['trip_duration'] = data['trip_duration'].astype('timedelta64[s]')

In [ ]:
data.drop(['pickup_time', "drop_time",'ID', "vendor_id", "drop_loc", "pickup_loc", "stored_flag", "mta_tax", "improvement_charge" ], axis = 1, inplace = True)

In [ ]:
data.shape

(1048575, 9)

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1048575 entries, 0 to 1048574
Data columns (total 9 columns):
 #   Column          Non-Null Count    Dtype
---  ------          --------------    -----
 0   driver_tip      1048573 non-null  object
 1   distance        1048574 non-null  float64
 2   num_passengers  1048574 non-null  float64
 3   toll_amount     1048573 non-null  object
 4   payment_method  1048574 non-null  float64
 5   rate_code       1048574 non-null  float64
 6   extra_charges   1048574 non-null  object
 7   total_amount    1048573 non-null  object
 8   trip_duration   1048574 non-null  float64
dtypes: float64(5), object(4)
memory usage: 72.0+ MB

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1048575 entries, 0 to 1048574
Data columns (total 9 columns):
 #   Column          Non-Null Count    Dtype
---  ------          --------------    -----
 0   driver_tip      1048573 non-null  object
 1   distance        1048574 non-null  float64
 2   num_passengers  1048574 non-null  float64
 3   toll_amount     1048573 non-null  object
 4   payment_method  1048574 non-null  float64
 5   rate_code       1048574 non-null  float64
 6   extra_charges   1048574 non-null  object
 7   total_amount    1048573 non-null  object
 8   trip_duration   1048574 non-null  float64
dtypes: float64(5), object(4)
memory usage: 72.0+ MB

In [ ]:
data.head()

  driver_tip  distance  ...  total_amount trip_duration
0       1.83      0.70  ...          9.13         321.0
1       3.56      4.64  ...         21.36         990.0
2        1.5      1.29  ...           8.8         377.0
3        1.5      2.74  ...          14.8         968.0
4          0      0.45  ...           4.8         162.0

[5 rows x 9 columns]

In [ ]:
data.columns

Index(['driver_tip', 'distance', 'num_passengers', 'toll_amount',
       'payment_method', 'rate_code', 'extra_charges', 'total_amount',
       'trip_duration'],
      dtype='object')

In [ ]:
data.isnull().sum()

driver_tip        2
distance          1
num_passengers    1
toll_amount       2
payment_method    1
rate_code         1
extra_charges     1
total_amount      2
trip_duration     1
dtype: int64

In [ ]:
data.isnull().sum().sum()

12

In [ ]:
cat_cols = ["driver_tip", "toll_amount", "extra_charges", "total_amount"]
num_cols = [c for c in data.columns if c not in cat_cols]
print (num_cols)

['distance', 'num_passengers', 'payment_method', 'rate_code', 'trip_duration']

In [ ]:
for c in num_cols :
  data[c].fillna((data[c].mean()),inplace=True)

In [ ]:
data.isnull().sum()

driver_tip        2
distance          0
num_passengers    0
toll_amount       2
payment_method    0
rate_code         0
extra_charges     1
total_amount      2
trip_duration     0
dtype: int64

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1048575 entries, 0 to 1048574
Data columns (total 9 columns):
 #   Column          Non-Null Count    Dtype
---  ------          --------------    -----
 0   driver_tip      1048573 non-null  object
 1   distance        1048575 non-null  float64
 2   num_passengers  1048575 non-null  float64
 3   toll_amount     1048573 non-null  object
 4   payment_method  1048575 non-null  float64
 5   rate_code       1048575 non-null  float64
 6   extra_charges   1048574 non-null  object
 7   total_amount    1048573 non-null  object
 8   trip_duration   1048575 non-null  float64
dtypes: float64(5), object(4)
memory usage: 72.0+ MB

In [ ]:
for c in cat_cols :
  data[c] = pd.to_numeric(data[c], errors='coerce')

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1048575 entries, 0 to 1048574
Data columns (total 9 columns):
 #   Column          Non-Null Count    Dtype
---  ------          --------------    -----
 0   driver_tip      1048561 non-null  float64
 1   distance        1048575 non-null  float64
 2   num_passengers  1048575 non-null  float64
 3   toll_amount     1048571 non-null  float64
 4   payment_method  1048575 non-null  float64
 5   rate_code       1048575 non-null  float64
 6   extra_charges   1048350 non-null  float64
 7   total_amount    1048052 non-null  float64
 8   trip_duration   1048575 non-null  float64
dtypes: float64(9)
memory usage: 72.0 MB

In [ ]:
data.isnull().sum().sum()

766

In [ ]:
data.dropna(inplace= True)

In [ ]:
data.shape

(1048052, 9)

In [ ]:
y=data['total_amount']

In [ ]:
data.drop(["total_amount"], axis=1, inplace = True)

In [ ]:
data.shape

(1048052, 8)

In [ ]:
from xgboost import XGBRegressor
train_x,test_x,train_y,test_y=train_test_split(data,y,test_size=.075,random_state=42)

In [ ]:
model = XGBRegressor(max_depth=8, n_estimators = 750, learning_rate= 0.025,random_state=42)
model.fit(train_x,train_y)

[12:43:45] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.

XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
             colsample_bynode=1, colsample_bytree=1, gamma=0,
             importance_type='gain', learning_rate=0.025, max_delta_step=0,
             max_depth=8, min_child_weight=1, missing=None, n_estimators=750,
             n_jobs=1, nthread=None, objective='reg:linear', random_state=42,
             reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
             silent=None, subsample=1, verbosity=1)

In [ ]:
model.score(train_x,train_y)

0.9796472317168103

In [ ]:
model.score(test_x,test_y)

0.972736650078062

In [ ]:
test=pd.read_csv("test.csv")

In [ ]:
test['pickup_time']=pd.to_datetime(test['pickup_time'])
test['drop_time']=pd.to_datetime(test['drop_time'])
test['trip_duration']=test['drop_time']-test['pickup_time']
test['trip_duration'] = test['trip_duration'].astype('timedelta64[s]')

In [ ]:
test.shape

(154235, 8)

In [ ]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 154235 entries, 0 to 154234
Data columns (total 8 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   driver_tip      154235 non-null  float64
 1   distance        154235 non-null  float64
 2   num_passengers  154235 non-null  float64
 3   toll_amount     154235 non-null  float64
 4   payment_method  154235 non-null  float64
 5   rate_code       154235 non-null  float64
 6   extra_charges   154235 non-null  float64
 7   trip_duration   154235 non-null  float64
dtypes: float64(8)
memory usage: 9.4 MB

In [ ]:
test.drop(['pickup_time', "drop_time",'ID', "vendor_id", "drop_loc", "pickup_loc", "stored_flag", "mta_tax", "improvement_charge" ], axis = 1, inplace = True)

In [ ]:
test.shape

(154235, 8)

In [ ]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 154235 entries, 0 to 154234
Data columns (total 8 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   driver_tip      154235 non-null  float64
 1   distance        154235 non-null  float64
 2   num_passengers  154235 non-null  float64
 3   toll_amount     154235 non-null  float64
 4   payment_method  154235 non-null  float64
 5   rate_code       154235 non-null  float64
 6   extra_charges   154235 non-null  float64
 7   trip_duration   154235 non-null  float64
dtypes: float64(8)
memory usage: 9.4 MB

In [ ]:
predict = model.predict(test)

In [ ]:
ID = np.arange(154235)

In [ ]:
len(ID)

154235

In [ ]:
df = pd.DataFrame({"ID" : ID,
                   "total_amount" : predict}, columns = ["ID", "total_amount"]).set_index("ID")

In [ ]:
df.head()

    total_amount
ID
0       7.286537
1      15.135538
2      17.499432
3       8.495472
4       7.960011